<div class="form-container">
  <div class="simple-form">
      <%= simple_form_for(@carer) do |f| %>
        <%= f.input :region %>
        <%= f.input :specialty %>
        <%= f.input :photo, as: :file, input_html: {multiple: true} %>
        <%= f.button :submit , class: "btn btn-custom " %>
      <% end %>
  </div>
</div>
