<div class="form-container">
  <div class="carer-simple-form">
      <div>
        <%= simple_form_for(carer) do |f| %>
          <%= f.input :region, collection: Carer::REGION %>
          <%= f.input :photo, as: :file %>
          <%= f.input :specialty, as: :check_boxes, collection: Carer::SPECIALTY, input_html: { multiple: true }  %>
          <div>
            <%= link_to 'Back', :back, class: "btn btn-submit-desaturated-cyan" %>
            <%= f.submit 'Save my profile', class: "btn btn-submit-desaturated-cyan" %>
          </div>
        <% end %>
      </div>
  </div>
</div>
