<div data-search-carers-target="list">
  <p class="h3">
    <% if params[:query].blank? %>
      <%= pluralize @carers.count, 'carer' %> available
    <% else %>
      <%= pluralize @carers.count, 'result' %> for <code><%= params[:query] %></code>
    <% end %>
  </p>
</div>
<div class="row">
  <% @carers.each do |carer| %>
      <div class="col-xs-9 col-sm-6 col-md-4">
      <div class="carer-card-border">
        <div class="carer-card-box" >
          <div class="carer-photo">
            <div class="carer-img">
              <%= cl_image_path carer.photo.key, height: 200, width: 200, crop: :fill %>
            </div>
          </div>
          <br>
          <div class="cards-body">
            <h2><%= User.find(carer.user_id).last_name %></h2>
            <p><%= User.find(carer.user_id).first_name %></p>
          </div>
          <br>
          <div class="card-buttons">
            <% if user_signed_in? %>
              <% if current_user.id == carer.user_id %>
                <%= link_to "More info", carer_path(carer), class: "btn-submit-carer" %>
                <%= link_to "Edit my profile", edit_carer_path(carer.id),  class: "btn-submit-carer" %>
              <% else %>
                <%= link_to "More info", carer_path(carer), class: "btn-submit-carer" %>
                <%= link_to "Book", new_carer_booking_path(carer.id),  class: "btn btn-submit-carer" %>
              <% end %>
              <% else %>
                <%= link_to "More info", carer_path(carer), class: "btn-submit-carer" %>
          <% end %>
          </div>
      </div>
        </div>
      </div>
  <% end %>
</div>
