<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="h2 my-3 d-flex justify-content-center">Select a carer</h1>

      <div>
        <%= form_with url: carers_path, method: :get, html: { class: 'mb-4' } do |f| %>
          <%= f.text_field :query,
                           class: "form-control",
                           placeholder: 'Choose by region and by specialty',
                           value: params[:query]
                           %>
        <% end %>

        <%= render 'cards', carers: @carers %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <% @carers.each do |carer| %>
      <div class="col-md-4">
        <div class="card" style="width: 18rem;">
          <div class="img">
            <%#= cl_image_tag carer.photo.key, height: 300, width: 400, crop: :fill %>
          </div>
          <div class="card-body">
            <h2><%= User.find(carer.user_id).last_name %></h2>
            <p><%= User.find(carer.user_id).first_name %></p>
          </div>
          <div class="card-buttons">
            <%= link_to "More info", carer_path(carer), class: "btn btn-green" %>
            <% if current_user %>
              <%= link_to "Interview", "#",  class: "btn btn-green" %>
              <%= link_to "Book", "#",  class: "btn btn-green" %>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
</div>
