  <div class="row">
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <div class="img">
<<<<<<< HEAD
              <%# <%= cl_image_tag carer.photo.key, height: 300, width: 400, crop: :fill %>
=======
              <% cl_image_tag @carer.photo.key, height: 300, width: 400, crop: :fill %>
>>>>>>> 0af5536f76572db71d992380abe613f4e2a3d39d
            </div>
            <div class="card-body">
              <h2><%= User.find(@carer.user_id).last_name %></h2>
              <p><%= User.find(@carer.user_id).first_name %></p>
              <p><%= @carer.specialty%></p>
              <p><%= User.find(@carer.user_id).phone_number %></p>
              <p><%= @carer.region %></p>
            </div>
            <div class="card-buttons">
              <%= link_to "Back", carers_path, class: "btn btn-green" %>
              <% if current_user.id == @carer.user_id %>
                <%= link_to "Edit my profile", edit_carer_path,  class: "btn btn-green" %>
              <% else %>
                <%= link_to "Interview", "#",  class: "btn btn-green" %>
                <%= link_to "Book", "#",  class: "btn btn-green" %>
              <% end %>
            </div>
          </div>
        </div>
  </div>
