<% user = user = User.find((Carer.find(@booking.carer_id)).user_id) %>
<% carer = (Carer.find(@booking.carer_id)) %>
<div class="carer-info">
  <h4><%= pluralize @specialty.size, "specialty" %>:</h4>
  <% @specialty.each do |spec| %>
    <%= spec %> <br>
  <% end %><br>

  <p>Start date: <%= (@booking.start_date).strftime('%A %d %B %Y %I:%M %p') %></p>
  <p>End date: <%= (@booking.end_date).strftime('%A %d %B %Y %I:%M %p') %></p> <br>

  <% if @booking.carer_confirmed? && @booking.patient_confirmed?  %>
    <%= link_to "Leave a review", new_booking_review_path(@booking.id) , class: "btn-submit-carer" %>
  <% else %>
    <%= link_to "Edit your booking", edit_booking_path(@booking.id),  class: "btn btn-submit-yellow" %>
  <% end %>
</div>
