<% user = User.find((Carer.find(@booking.carer_id)).user_id) %>
<% carer = Carer.where(user_id: user.id) %>

<div class="modal-body">
  <h3><%= user.last_name %></h3>
  <h3><%= user.first_name %></h3>
  <h4><%= pluralize carer.specialty.size, "specialty" %>:</h4>
  <% carer.specialty.each do |spec| %>
    <%= spec %> <br>
  <% end %>
  <p> <a href="#" role="button" class="btn btn-secondary popover-test" title="Do you want to reshedule your appointment?" data-bs-content="Popover body content is set in this attribute.">button</a> triggers a popover on click.</p>
</div>




<h3>Do you want to reshedule your appointment</h3>
  <%= render 'form', booking: @booking %>
