<div class="col-4x">
  <div class="cardx">
    <div class="two-buttons">
        <div class="carer-confirm-three-btn">
          <%= link_to "Call", booking_call_path(@booking.id), class:"btn btn-submit-desaturated-cyan-2" %>
          <%= link_to "Itinerary", booking_map_path(@booking.id),  class: "btn btn-submit-desaturated-cyan-2" %>
          <%= link_to 'Back', carer_path(@booking.carer_id), class: "btn btn-submit-desaturated-cyan-2" %>
        </div>
    </div>
      <hr>

      <div class="two-button-horizontal">
        <% if ! @booking.carer_confirmed? %>
          <%= link_to 'Confirm Booking', update_status_booking_path(@booking, carer_confirmed: :carer_confirmed), method: :patch, remote: true, class:"btn btn-submit-white-2" %>
        <% end %>
        <%= button_to "Reject Booking", @booking, method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class:"btn btn-submit-white-2" %>
      </div>
  </div>
</div>
