 <div class="booking-card">
    <%= simple_form_for [@carer, @booking] do |f| %>
      <h3>Book <%= User.find(@carer.user_id).first_name%> <%= User.find(@carer.user_id).last_name%> !</h3>
      <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"} %>
      <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker" } %>
     <div class="patient-new-form">
        <%= f.submit class: 'btn-submit-carer' %>
        <%= link_to "Back", carer_path(@carer.id), class: "btn-submit-carer" %>
     </div>
    <% end %>
  </div>
