<div class="carer-card-border_2">
  <div class="title-wrapper">
    <div>
      <h3 class="title">A first contact with</h3>
      <h3 class="title">your NearbyCarer</h3>
    </div>
  </div>
  <div class="carer-card-box-as-carer">
    <div
      class="twilio-video"
      data-sid="<%= ENV["ACCOUNT_SID"] %>"
      data-room="<%= @booking.url_room %>"
      data-token="<%= @token %>"
      >

      <div class="justify-content-between">
        <div class="col-7">
          <div class="participant">
          </div>
        </div>
        <div class="col-4x">
          <div class="remote-media-div text-center">
            <div>
              <video id="userVideo" autoplay muted="true" ></video>
            </div>
            <div>
              <%= button_tag image_tag('button_endcall.svg', class: "endcall-button"), id: "leave-btn", class: "btn"%>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-7xs">
        <p class="text-center">
          <%# <%= @booking.patient == current_user ? @booking.carer.email : @booking.patient.email %>
        </p>
       </div>
     </div>
      <% if current_user.carer? %>
      <%= link_to '', booking_path(@booking.id), class: 'd-none root-link', data: {turbolinks: false}  %>
      <% else %>
      <%= link_to '', carer_path(@booking.carer_id), class: 'd-none root-link', data: {turbolinks: false}  %>
      <% end %>
     </div>
  </div>
</div>
