<div class="form-container">
  <div data-controller="geocoder_address">
        <%= form_with url: new_patient_path, method: :get, html: { class: "mb-4", data: { geocoder_address_target: "form" } } do |f| %>
            <%= f.text_field :query,
                           class: "form-control flex-grow-1 me-2",
                           placeholder: "Type your address",
                           value: params[:query],
                            data: {
                              action: "keyup->geocoder-address#geocode",
                              geocoder_address_target: "submit"
                            } %>
        <% end %>
  </div>
  <div class="simple-form">
    <%= simple_form_for(patient) do |f| %>
            <%= f.input :health_conditions, as: :check_boxes, collection: Patient::CONDITIONS, input_html: { multiple: true }  %>
            <%= f.submit 'Save my profile', class: "btn-submit-yellow" %>
        <% end %>
  </div>
</div>
