<div class="container">
  <div>
      <%= image_tag "icon-patient.svg", class: "patient-new-form-icon", alt:"#" %>
  </div>
    <div class="patient-new-form">
      <div class="row">
        <div class="col">
          <div class="form p-3">
          <div data-controller="geocoder" data-geocoder-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"  >
            <div class="form-container">
              <div class="simple-form">
                  <%= simple_form_for(@patient) do |f| %>
                    <%= f.input :address,
                        input_html: { data: { geocoder_target: "address" }, class: "d-none" },
                        wrapper_html: { data: { controller: "geocoder", geocoder_api_key_value: ENV['MAPBOX_API_KEY'], action: "load@window->geocoder#geocode" } } %>
                    <%= f.input :health_conditions, as: :check_boxes, collection: Patient::CONDITIONS, input_html: { multiple: true }  %>
                    <%= f.submit 'Save my profile', class: "btn-submit-yellow" %>
                  <% end %>
              </div>
            </div>
          </div>
          <%# <%= render 'form', patient: @patient %>
          <%# <input class="btn btn-primary" type="submit" value="Complete my profile"> %>
          </div>
        </div>
      </div>
    </div>
</div>
