  <div class="row">
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h2><%= User.find(@patient.user_id).last_name %></h2>
              <p><%= @User.find(@patient.user_id).first_name %></p>
              <p><%= @patient.health_conditions %></p>
              <p><%= User.find(@patient.user_id).phone_number %></p>
              <p><%= @patient.address %></p>
            </div>
            <div class="card-buttons">
              <%= link_to "Back", carers_path, class: "btn btn-green" %>
              <% if current_user %>
                <%= link_to "Interview", "#",  class: "btn btn-green" %>
                <%= link_to "Book", "#",  class: "btn btn-green" %>
              <% end %>
            </div>
          </div>
        </div>
    <% end %>
  </div>
