  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h2><%= User.find(@patient.user_id).last_name %></h2>
          <p><%= User.find(@patient.user_id).first_name %></p>
          <p><%= @patient.address %></p>
          <h4><%= pluralize patient.health_conditions.size, "Health condition" %>:</h4>
              <% patient.health_conditions.each do |cond| %>
                <%= cond %> <br>
              <% end %>
        </div>
        <div class="card-buttons">
          <%= link_to "Back", carers_path, class: "btn btn-green" %>
          <% if current_user.id == @patient.user_id %>
            <%= link_to "Edit my profile", edit_patient_path,  class: "btn btn-green" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
