  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div >
          <div class="container-transparent_2">
          <%= image_tag "patient-icon-profile.svg", class:"logo-sm" %>
            <h3><%= User.find(@patient.user_id).last_name %></h3>
            <h3><%= User.find(@patient.user_id).first_name %></h3>
            <hr>
            <p><%= @patient.address %></p>
            <h4><%= pluralize @health_conditions.size, "Health condition" %>:</h4>
                <% @health_conditions.each do |cond| %>
                  <%= cond %> <br>
                <% end %>
                <hr>
          </div>
          <div class="patient-new-form">
            <%= link_to "Back", carers_path, class: "btn btn-submit-yellow-2" %>
            <% if current_user.id == @patient.user_id %>
              <%= link_to "Edit my profile", edit_patient_path(@patient.id),  class: "btn btn-submit-yellow-2" %>
              <%= link_to "Your booking", booking_path(Booking.where(patient_id: (Patient.find_by_user_id(current_user.id)).id).last),  class: "btn btn-submit-yellow-2" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
