
<div class="carer-card-border_4">
  <div class="carer-card-box-as-carer">
    <div class="cards-body">
      <% user = User.find(@carer.user_id) %>
        <h3>All reviews about <%= user.first_name %> <%= user.last_name %></h3>
          <% if @reviews.empty? %>
            <p>No reviews yet.</p>
          <% else %>
            <ul>
              <% @reviews.each do |review| %>
                <li><%= review.comment %>, Rating: <%= review.rating %></li>
              <% end %>
            </ul>
          <% end %>
          <div class="patient-new-form">
            <%= link_to "Back", carer_path(@carer.id), class: "btn-submit-carer" %>
          </div>
    </div>

  </div>
</div>
